<% provide :title, t(".title") %>
<% provide :button_text, t(".button_text") %>
<h1 class="text-center pt-5"><%= t ".title" %></h1>
<div class="container-xxl py-5">
  <div class="container row">
    <div class="col-lg-6 offset-3">
      <%= render "form", locals: {url: signup_path, method: :post} %>
      <p class="my-2"><%= t ".old_user" %> <%= link_to t("layouts.header.login"), "#" %></p>
    </div>
  </div>
</div>
