default: &default
  adapter::
  encoding:
  pool:
  username:
  password:
  socket:

development:
  <<: *default
  database: hotel_booking_development

test:
  <<: *default
  database: hotel_booking_test

production:
  <<: *default
  database: hotel_booking_production
  username: hotel_booking
  password: <%= ENV["HOTEL_BOOKING_DATABASE_PASSWORD"] %>
