<div class="col-lg-3 col-md-6">
  <div class="room-item shadow rounded overflow-hidden h-100">
    <div class="position-relative">
      <%= image_tag "img/carousel-2.jpg", class: "img-fluid"%>
      <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">
        <%= number_to_currency room.price %>
      </small>
    </div>
    <div class="p-4 mt-2">
      <div class="d-flex justify-content-between mb-3">
        <h5 class="mb-0"><%= room.name %></h5>
      </div>
      <div class="row mb-3">
        <% room.facilities.each do |f| %>
          <small class="mb-2 col-6"><i class="fa fa-check text-primary me-2"></i><%= t f.name %></small>
        <% end %>
      </div>
      <div class="d-flex justify-content-between">
        <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
        <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
      </div>
    </div>
  </div>
</div>
