<!-- Header Start -->
<div class="container-fluid bg-dark px-0">
  <div class="row gx-0">
    <div class="col-lg-3 bg-dark d-none d-lg-block">
      <a href="index.html" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
        <h1 class="m-0 text-primary text-uppercase">Hotelier</h1>
      </a>
    </div>
    <div class="col-lg-9">
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
          <h1 class="m-0 text-primary text-uppercase">Hotelier</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav mr-auto py-0">
            <a href="index.html" class="nav-item nav-link">Home</a>
            <a href="room.html" class="nav-item nav-link">Rooms</a>
            <a href="room.html" class="nav-item nav-link">Bookings</a>
          </div>
          <div class="navbar-nav mr-0 py-0">
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Language</a>
              <div class="dropdown-menu rounded-0 m-0">
                <a href="booking.html" class="dropdown-item">EN</a>
                <a href="team.html" class="dropdown-item">VI</a>
              </div>
            </div>
            <a href="index.html" class="nav-item nav-link">Login</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- Header End -->
